$primary-font-size: 1rem;
$secondary-font-size: 0.85rem;

html, body {
  font-family: 'Montserrat', sans-serif;
}

#header {
  max-width: 50%;

  .panel-heading {
    font-size: $primary-font-size;
  }

  .panel-block {
    > * {
      margin: 10px;
    }

    h2 {
      font-size: $secondary-font-size;
    }
  }
}

.file-label {
  font-size: $secondary-font-size;
}

.radio {
  font-size: $primary-font-size;
}
